version: '3.8'

services:
  db:
    image: postgres:15
    container_name: store_db_cont
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: store_redis_cont
    restart: always
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: store_web
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
volumes:
  postgres_data:
