version: '3.8'

services:
  db:
    image: postgres:15
    container_name: store_db_cont
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: store_redis_cont
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
